<div class="upload-container">
  <div class="upload-dialog">
    <div class="upload-control-bar">
      <div class="title">Upload Document</div>
      <button class="close-btn">X</button>
    </div>
    <div class="divider"></div>
    <div class="upload-drag-zone">
      <ngx-file-drop
        dropZoneLabel="Drop files here"
        (onFileDrop)="dropped($event)"
        (onFileOver)="fileOver($event)"
        (onFileLeave)="fileLeave($event)"
      >
        <ng-template
          ngx-file-drop-content-tmp
          let-openFileSelector="openFileSelector"
        >
          <div class="not-drag-container" [class.active]="isDragFile === false">
            <div class="image-showing"></div>
            <div class="middle-title">
              <div class="showing-title">Drag & drop files or&nbsp;</div>
              <a (click)="openFileSelector()">Browse</a>
            </div>
            <div class="sub-title">
              Supported file formats .PDF, .PPT, .DOC, .DOCX, .XLS, .XLSX
            </div>
          </div>
          <div class="dragging-container" [class.active]="isDragFile === true">
            <div class="title">Drop file here</div>
          </div>
        </ng-template>
      </ngx-file-drop>
    </div>
    <div class="divider"></div>
    <div class="upload-function-btn">
      <button class="cancel-btn">
        <div class="title">Cancel</div>
      </button>
      <button class="upload-btn">
        <div class="title">Upload</div>
      </button>
    </div>
  </div>
</div>
<div class="upload-table">
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
      </tr>
    </thead>
    <tbody class="upload-name-style">
      <tr *ngFor="let item of files; let i = index">
        <td>
          <strong>{{ item.relativePath }}</strong>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<!-- <div class="center">
  <ngx-file-drop
    dropZoneLabel="Drop files here"
    (onFileDrop)="dropped($event)"
    (onFileOver)="fileOver($event)"
    (onFileLeave)="fileLeave($event)"
  >
    <ng-template
      ngx-file-drop-content-tmp
      let-openFileSelector="openFileSelector"
    >
      <button type="button" (click)="openFileSelector()">Browse Files</button>
    </ng-template>
  </ngx-file-drop>
  <div class="upload-table">
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
        </tr>
      </thead>
      <tbody class="upload-name-style">
        <tr *ngFor="let item of files; let i = index">
          <td>
            <strong>{{ item.relativePath }}</strong>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div> -->
