<a href="https://www.npmjs.com/package/ngx-file-drop">ngx-file-drop</a>
<div class="upload-container">
  <div class="upload-dialog">
    <div class="upload-control-bar">
      <div class="title">Upload Document</div>
      <button class="close-btn">X</button>
    </div>
    <div class="divider"></div>
    <div class="upload-drag-container">
      <div
        class="upload-drag-zone"
        appDrag
        (files)="onFileDropped($event)"
        (dragFileEmit)="changeDragState($event)"
      >
        <input
          id="inputFile"
          type="file"
          (change)="uploadHandler($event)"
          multiple="true"
        />
        <!-- use ngIf check if FileList have items or not to allow drag file, or else will show upload status -->
        <!-- If fileDrop[] has length != 0 -->
        <div
          *ngIf="uploadFiles.length === 0"
          class="not-drag-container"
          [class.active]="isDragFile === false"
        >
          <div class="image-showing"></div>
          <div class="middle-title">
            <div class="showing-title">Drag & drop files or&nbsp;</div>
            <label for="inputFile">Browse</label>
          </div>
          <div class="sub-title">
            Supported file formats .PDF, .PPT, .DOC, .DOCX, .XLS, .XLSX
          </div>
        </div>
        <div class="dragging-container" [class.active]="isDragFile === true">
          <div class="title">Drop file here</div>
        </div>
      </div>
      <!-- Else -->
      <div *ngIf="uploadFiles.length !== 0" class="uploaded-file-container">
        <div class="uploaded-title">Uploaded</div>
        <div class="uploaded-item-container">
          <app-uploaded-item
            *ngFor="let item of uploadFiles"
            [file]="item.file"
            [percent]="item.uploadPercent"
            (deleteEvent)="deleteFile($event)"
          ></app-uploaded-item>
        </div>
      </div>
      <!-- End here -->
    </div>
    <div class="divider"></div>
    <div class="upload-function-btn">
      <button class="cancel-btn">
        <div class="title">Cancel</div>
      </button>
      <button class="upload-btn">
        <div class="title">Upload</div>
      </button>
    </div>
  </div>
</div>
