.container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .title {
    color: rgb(41, 54, 179);
    font-size: 30px;
  }

  .form {
    .user-name,
    .user-password {
      margin: 10px 0;
      display: flex;
      flex-direction: column;

      label {
        font-size: 17px;
        font-weight: 600;
        margin-bottom: 3px;
      }

      input {
        font-size: 12px;
        width: 200px;
        height: 20px;

        &.ng-invalid {
          border: 5px solid red;
        }
      }
    }

    .submit-button {
      display: flex;
      flex-direction: row;
      justify-content: end;
    }
  }
}
