.navigation-bar-container {
  .nav-button-container {
    margin-bottom: 8px;
    &.active {
      background-color: var(--primary-50);
    }
    &:hover {
      background-color: var(--primary-50);
    }
    .svg-icon {
      margin: 10px;
      height: 20px;
      width: 20px;
      &.active {
        color: var(--primary-500);
      }
      &.unactive {
        color: var(--neutral-400);
      }
    }
    & label {
      width: 0;
      opacity: 0;
      transition: width 300ms ease-in-out, opacity 300ms ease;
      &.active {
        color: var(--primary-500);
      }
      &.showing {
        width: 160px;
        opacity: 1;
      }
    }
  }
}
