<p>slide-dialog works!</p>
<div>
  <a
    href="https://stackblitz.com/edit/angular-material-animation-w9hrzz?file=app%2Fdialog-overview-example.ts,app%2Fdialog-overview-example-dialog.html"
    >Slide Dialog use library ng-dialog-animation</a
  >
</div>
<div>
  <a href="https://www.npmjs.com/package/ng-dialog-animation"
    >ng-dialog-animation lib</a
  >
</div>
<div>
  <a
    href="https://stackblitz.com/edit/angular-material-dialog-animation-eqbxnw?file=app%2Fd.service.ts"
    >Slide Dialog use file Service</a
  >
</div>
