<div class="datecontrol-container">
  <div class="body-container">
    <button class="left-button" type="button" (click)="previousWeek()">
      LB
    </button>
    <div class="date-list">
      <button
        *ngFor="let item of dateList"
        type="button"
        class="date-container"
        (click)="clickDate(item.date)"
        [class.active]="
          item.date.getDate() === activeDate.getDate() &&
          item.date.getMonth() === activeDate.getMonth() &&
          item.date.getFullYear() === activeDate.getFullYear()
        "
      >
        <div class="date-name">{{ item.weekDay }}</div>
        <div
          class="date"
          [class.active]="
            item.date.getDate() === currentDate.getDate() &&
            item.date.getMonth() === currentDate.getMonth() &&
            item.date.getFullYear() === currentDate.getFullYear()
          "
        >
          {{ item.date.getDate() }}
        </div>
      </button>
    </div>
    <button class="right-button" type="button" (click)="nextWeek()">RB</button>
  </div>
</div>
