.header-container {
  height: 100%;

  .left-container {
    .logo_name_container {
      margin-left: 4.5px;
    }
  }

  .right-container {
    .label {
      margin-left: 6px;
    }
    .button {
      & .notification-number {
        bottom: 10px;
        left: 11px;
        background-color: var(--danger-600);
      }
    }
    .separate-line-container {
      padding: 0 16px;
      .separate-line {
        border-left: solid 2px #ddddee;
        height: 24px;
      }
    }
    .user-container {
      & .dropdown-button {
        margin-left: 6px;
      }
    }
  }
}
