<div class="header-container flex flex-row justify-between items-center">
  <div class="left-container flex items-center">
    <div class="logo_container flex items-center">
      <img src="../assets/imgs/logo.png" alt="" />
    </div>
    <div class="logo_name_container flex items-center">
      <img src="../assets/imgs/logo_name.png" alt="" />
    </div>
  </div>
  <div class="right-container flex flex-row items-center">
    <button class="help-button button flex flex-row items-center">
      <mat-icon svgIcon="bubble-question-outline"></mat-icon>
      <div class="label flex flex-col justify-center body-7">Help</div>
    </button>
    <div class="separate-line-container flex items-center">
      <div class="separate-line"></div>
    </div>
    <button class="user-container button flex flex-row items-center">
      <div class="avatar rounded-full">
        <img class="w-7" src="../assets/imgs/avt.png" alt="" />
      </div>
      <div class="label flex flex-col justify-center body-6">Aaron</div>
      <div class="dropdown-button flex flex-row justify-center rounded-full">
        <mat-icon>keyboard_arrow_down</mat-icon>
      </div>
    </button>
    <div class="separate-line-container flex items-center">
      <div class="separate-line"></div>
    </div>
    <button class="notification-container button relative flex flex-row w-10">
      <mat-icon svgIcon="notification-outline"></mat-icon>
      <div
        class="notification-number absolute rounded-full flex w-8 h-4 justify-center items-center text-white fields-2"
      >
        99+
      </div>
    </button>
  </div>
</div>
